@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --progress-bar-color: #969696; /* Cor branca */
  }

  
* {
    box-sizing: border-box;
  }

html,
body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;
    font-weight:100;
    @apply dark:bg-dark-bg dark:text-dark-text
}

a, address, time, li{
    @apply dark:text-dark-text
}
  
p {
    line-height: 1.6;
    margin: 1.2em 0;
}
  
ul {
    padding-left: 1.2em;
    margin-bottom:0;
}

  
img {
    max-width: 100%;
    height: auto;
}

figure img{
    background:transparent !important;
    border: 0 !important;
}